.grid__wrapper
  display: flex
  justify-content: space-between
  width: $site-width
  margin: 0 auto

.grid__col
  width: 15%

.grid__col_wide
  width: 35%

.grid__home-link
  display: flex
  align-items: center
  text-decoration: none
  text-transform: uppercase
  color: #222222
  font-size: 27px
  font-weight: 300
  line-height: 32px
  margin-bottom: 29px
  &_site-color
    color: #f16d7f
    font-weight: 400
  &_img
    margin-right: 13px

.grid__col-text-paragraph
  color: #898989
  font-size: 14px
  font-weight: 300
  line-height: 24px

.grid__col-text-paragraph:first-child
  margin-bottom: 30px

.grid__col-list-heading
  color: $brand-color
  font-size: 18px
  font-weight: 700
  line-height: 26px
  text-transform: uppercase

.grid__col-list
  list-style: none

.grid__col-list-link
  text-decoration: none
  color: #898989
  font-size: 16px
  font-weight: 400

.grid__col-list-link:hover
  color: $brand-color
  transition: $link-hover-transition

.grid__col-list-heading
  margin-bottom: 45px

.grid__col-list-el
  line-height: 42px