* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  outline: none;
  border: none; }

.container {
  margin: 0 auto;
  width: 1140px; }

/*header */
.header {
  border-bottom: 0.063rem solid #ececec; }

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0; }

.header__left {
  display: flex;
  align-items: center; }

.search_header {
  margin-left: 37px; }

.header__right {
  display: flex;
  align-items: center; }

.button_header {
  margin-left: 26px; }

.cart__link {
  display: flex;
  width: 150%;
  height: 150%; }

.cart_breadcrumbs {
  margin-bottom: 70px; }

/*logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-size: 1.688rem;
  font-weight: 300; }
  .logo__img {
    margin-right: 13px; }
  .logo__brand-color-d {
    color: #f16d7f;
    font-weight: 400; }

/*search */
.search {
  display: flex;
  border: 0.063rem solid #ececec;
  border-radius: 0.188rem;
  max-height: 38px; }
  .search__summary {
    padding: 10px;
    color: #222222;
    font-size: 0.875rem;
    font-weight: 300;
    border-right: 0.063rem solid #ececec;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }
    .search__summary::-webkit-details-marker {
      display: none; }
    .search__summary::-moz-list-bullet {
      list-style-type: none; }

.search__details {
  position: relative;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }

.search__details-drop-down {
  padding: 15px;
  position: absolute;
  border: 0.063rem solid #ececec;
  border-radius: 0.313rem;
  background-color: #fff;
  z-index: 100; }

.search__details-drop-down-triangle {
  width: 7px;
  height: 7px;
  position: absolute;
  border-right: 0.063rem solid #ececec;
  border-top: 0.063rem solid #ececec;
  background-color: white;
  transform: rotate(-45deg);
  top: -5px;
  left: 63px; }

.search__details-drop-down-list {
  list-style: none; }

.search__details-drop-down-list:not(:last-child) {
  margin-bottom: 30px; }

.search__details-drop-down-list-el_heading {
  text-transform: uppercase;
  color: #232323;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom: 0.063rem solid #ececec;
  line-height: 2rem; }

.search__details-drop-down-list-el {
  width: 235px; }

.search__details-drop-down-list-el:not(:last-child) {
  margin-bottom: 10px; }

.search__details-drop-down-link {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 0.875rem;
  font-weight: 400; }

.search__details-drop-down-link:hover {
  color: #f16d7f;
  transition: color 0.3s; }

.search__summary-arrow {
  line-height: 0;
  color: #838383;
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 8px;
  display: flex;
  align-items: center; }

.search__input {
  min-width: 280px;
  height: 100%;
  border-right: 0.063rem solid #ececec;
  padding: 0 15px;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 300; }

.search__btn {
  padding: 0 10px;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400; }

/*cart */
.cart__container {
  position: relative; }

.cart__container:hover .cart {
  display: block; }

.cart {
  display: none;
  position: absolute;
  background-color: white;
  border: 0.063rem solid #ececec;
  padding: 20px;
  border-radius: 5px;
  top: 50px; }

.cart__triangle {
  width: 7px;
  height: 7px;
  position: absolute;
  border-right: 0.063rem solid #ececec;
  border-top: 0.063rem solid #ececec;
  background-color: white;
  transform: rotate(-45deg);
  top: -5px;
  left: 14px; }

.cart__total {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px; }

.cart__button {
  width: 225px;
  height: 50px;
  border: 0.063rem solid #ececec;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.cart__button:first-child {
  margin-bottom: 10px; }

.cart__button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  transition: all 0.3s; }

.cart__product-counter {
  position: absolute;
  border-radius: 50%;
  background-color: #f16d7f;
  width: 19px;
  height: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  top: -7px;
  right: -9px;
  line-height: 19px; }

/*button */
.button {
  padding: 0 20px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid transparent; }

.button:hover {
  background-color: #fff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  transition: all 0.3s; }

.button__sort-down_my-account {
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px; }

.nav_container {
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid transparent; }

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.nav__list-el {
  position: relative; }

.nav__link {
  text-decoration: none;
  color: #222222;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 20px 17px 20px;
  border-bottom: 3px solid transparent; }

.nav__link:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  transition: color 0.3s; }

.nav__list-el:hover .nav__mega-menu {
  display: flex; }

/*mega menu */
.nav__mega-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 40px;
  max-height: 310px;
  border: 0.063rem solid #ececec;
  border-radius: 5px;
  background: white;
  padding: 20px;
  z-index: 100; }

.nav__mega-menu-triangle {
  width: 7px;
  height: 7px;
  position: absolute;
  border-right: 0.063rem solid #ececec;
  border-top: 0.063rem solid #ececec;
  background-color: white;
  transform: rotate(-45deg);
  top: -5px;
  left: 14px; }

.nav_mega-menu-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav__mega-menu-headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 0.063rem solid #ececec; }

.nav__mega-menu-list {
  list-style: none;
  margin-right: 45px; }
  .nav__mega-menu-list:last-of-type {
    margin-right: 0; }

.nav__mega-menu-list-elem {
  width: 235px; }

.nav__mega-menu-link {
  text-decoration: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; }

.nav__mega-menu-link:hover {
  color: #f16d7f;
  transition: color 0.3s; }

.nav_mega-menu-img-block {
  position: relative; }

.nav_mega-menu-img-block-text {
  position: absolute;
  right: 30px;
  bottom: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase; }

.breadcrumbs {
  background-color: #f8f3f4;
  height: 150px; }

.breadcrumbs_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

.breadcrumbs__heading {
  color: #f16d7f;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase; }

.breadcrumbs__list {
  list-style: none;
  display: flex; }

.breadcrumbs__link {
  color: #636363;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none; }
  .breadcrumbs__link_active {
    color: #f16d7f;
    font-weight: 700; }
  .breadcrumbs__link:hover {
    color: #f16d7f;
    transition: color 0.3s; }

.breadcrumbs__list-el:not(:last-child) {
  margin-right: 2px; }

.review-and-subscribe {
  height: 440px;
  background-image: url("img/subscribe-background.png");
  background-position: center;
  background-repeat: no-repeat; }

.main_review-and-subscribe {
  margin-bottom: 100px; }

.review-and-subscribe__wrap {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex; }

.review {
  display: flex;
  margin-top: 10%;
  padding-right: 71px; }
  .review__photo {
    float: left;
    margin-right: 38px;
    max-width: 82px;
    max-height: 82px; }
  .review__text {
    max-width: 386px;
    color: #222224;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    margin-top: 12px;
    bottom: 19px; }

.review__reviewer-info {
  display: flex;
  flex-direction: column;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px; }
  .review__reviewer-info-city {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px; }

.subscribe {
  height: 100%;
  width: 50%; }

.subscribe__wrap {
  border-left: 1px solid white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.subscribe__heading_big {
  margin-top: 25%;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 400; }

.subscribe__heading_small {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 24px; }

.subscribe__form {
  width: 68%;
  height: 46px;
  display: flex;
  justify-content: center;
  margin-top: 32px; }
  .subscribe__form-input {
    width: 70%;
    border-radius: 23px 0 0 23px;
    opacity: 0.67;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    padding-right: 28px;
    padding-left: 28px;
    background-color: #e1e1e1; }
  .subscribe__form-btn {
    border-radius: 0 23px 23px 0;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 20px 0 20px;
    background-color: #f16d7f; }

.grid__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto; }

.grid__col {
  width: 15%; }

.grid__col_wide {
  width: 35%; }

.grid__home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 29px; }
  .grid__home-link_site-color {
    color: #f16d7f;
    font-weight: 400; }
  .grid__home-link_img {
    margin-right: 13px; }

.grid__col-text-paragraph {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.grid__col-text-paragraph:first-child {
  margin-bottom: 30px; }

.grid__col-list-heading {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.grid__col-list {
  list-style: none; }

.grid__col-list-link {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400; }

.grid__col-list-link:hover {
  color: #f16d7f;
  transition: color 0.3s; }

.grid__col-list-heading {
  margin-bottom: 45px; }

.grid__col-list-el {
  line-height: 42px; }

.footer {
  height: 80px;
  background-color: #e6e6e6; }
  .footer__wrapper {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.copyright__text {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400; }

.socials__wrap {
  display: flex; }

.socials__social {
  font-size: 16px;
  font-weight: 400; }
  .socials__social-link {
    background-color: #ffffff;
    margin-left: 8px;
    color: #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 400; }

.socials__social-link:hover {
  background-color: #f16d7f;
  color: #ffffff;
  transition: all 0.3s; }

/*.socials__social-link:visited
 * color: #b2b2b2
 * background-color: #EEEEEE */
.review-and-subscribe_checkout {
  margin-bottom: 110px; }

.grid_checkout {
  margin-bottom: 90px; }

/*# sourceMappingURL=checkout-style.css.map */
