/*logo */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-size: 1.688rem;
  font-weight: 300; }
  .logo__img {
    margin-right: 13px; }
  .logo__brand-color-d {
    color: #f16d7f;
    font-weight: 400; }

/*search */
.search {
  display: flex;
  border: 0.063rem solid #ececec;
  border-radius: 0.188rem;
  max-height: 38px; }
  .search__summary {
    padding: 10px;
    color: #222222;
    font-size: 0.875rem;
    font-weight: 300;
    border-right: 0.063rem solid #ececec;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }
    .search__summary::-webkit-details-marker {
      display: none; }
    .search__summary::-moz-list-bullet {
      list-style-type: none; }

.search__details {
  position: relative;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }

.search__details-drop-down {
  padding: 15px;
  position: absolute;
  border: 0.063rem solid #ececec;
  border-radius: 0.313rem;
  background-color: #fff;
  z-index: 100; }

.search__details-drop-down-triangle {
  width: 7px;
  height: 7px;
  position: absolute;
  border-right: 0.063rem solid #ececec;
  border-top: 0.063rem solid #ececec;
  background-color: white;
  transform: rotate(-45deg);
  top: -5px;
  left: 63px; }

.search__details-drop-down-list {
  list-style: none; }

.search__details-drop-down-list:not(:last-child) {
  margin-bottom: 30px; }

.search__details-drop-down-list-el_heading {
  text-transform: uppercase;
  color: #232323;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom: 0.063rem solid #ececec;
  line-height: 2rem; }

.search__details-drop-down-list-el {
  width: 235px; }

.search__details-drop-down-list-el:not(:last-child) {
  margin-bottom: 10px; }

.search__details-drop-down-link {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 0.875rem;
  font-weight: 400; }

.search__details-drop-down-link:hover {
  color: #f16d7f;
  transition: color 0.3s; }

.search__summary-arrow {
  line-height: 0;
  color: #838383;
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 8px;
  display: flex;
  align-items: center; }

.search__input {
  min-width: 280px;
  height: 100%;
  border-right: 0.063rem solid #ececec;
  padding: 0 15px;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 300; }

.search__btn {
  padding: 0 10px;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400; }

/*cart */
.cart__container {
  position: relative; }

.cart__container:hover .cart {
  display: block; }

.cart {
  display: none;
  position: absolute;
  background-color: white;
  border: 0.063rem solid #ececec;
  padding: 20px;
  border-radius: 5px;
  top: 50px; }

.cart__triangle {
  width: 7px;
  height: 7px;
  position: absolute;
  border-right: 0.063rem solid #ececec;
  border-top: 0.063rem solid #ececec;
  background-color: white;
  transform: rotate(-45deg);
  top: -5px;
  left: 14px; }

.cart__total {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px; }

.cart__button {
  width: 225px;
  height: 50px;
  border: 0.063rem solid #ececec;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.cart__button:first-child {
  margin-bottom: 10px; }

.cart__button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  transition: all 0.3s; }

.cart__product-counter {
  position: absolute;
  border-radius: 50%;
  background-color: #f16d7f;
  width: 19px;
  height: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  top: -7px;
  right: -9px;
  line-height: 19px; }

/*button */
.button {
  padding: 0 20px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid transparent; }

.button:hover {
  background-color: #fff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  transition: all 0.3s; }

.button__sort-down_my-account {
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px; }

.nav_container {
  height: 50px;
  display: flex;
  justify-content: center; }

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.nav__list-el {
  position: relative; }

.nav__link {
  text-decoration: none;
  color: #222222;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 25px 17px 25px;
  border-bottom: 3px solid transparent; }

.nav__link:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  transition: color 0.3s; }

.nav__list-el:hover .nav__mega-menu {
  display: flex; }

/*mega menu */
.nav__mega-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 40px;
  max-height: 310px;
  border: 0.063rem solid #ececec;
  border-radius: 5px;
  background: white;
  padding: 20px;
  z-index: 100; }

.nav__mega-menu-triangle {
  width: 7px;
  height: 7px;
  position: absolute;
  border-right: 0.063rem solid #ececec;
  border-top: 0.063rem solid #ececec;
  background-color: white;
  transform: rotate(-45deg);
  top: -5px;
  left: 14px; }

.nav_mega-menu-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav__mega-menu-headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 0.063rem solid #ececec; }

.nav__mega-menu-list {
  list-style: none;
  margin-right: 45px; }

.nav__mega-menu-list-elem {
  width: 235px; }

.nav__mega-menu-link {
  text-decoration: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; }

.nav__mega-menu-link:hover {
  color: #f16d7f;
  transition: color 0.3s; }

.nav_mega-menu-img-block {
  position: relative; }

.nav_mega-menu-img-block-text {
  position: absolute;
  right: 30px;
  bottom: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase; }

.breadcrumbs {
  background-color: #f8f3f4;
  height: 150px; }

.breadcrumbs_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

.breadcrumbs__heading {
  color: #f16d7f;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase; }

.breadcrumbs__list {
  list-style: none;
  display: flex; }

.breadcrumbs__link {
  color: #636363;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none; }
  .breadcrumbs__link_active {
    color: #f16d7f;
    font-weight: 700; }
  .breadcrumbs__link:hover {
    color: #f16d7f;
    transition: color 0.3s; }

.breadcrumbs__list-el:not(:last-child) {
  margin-right: 2px; }

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  outline: none;
  border: none; }

.container {
  margin: 0 auto;
  width: 1140px; }

/*header */
.header {
  border-bottom: 0.063rem solid #ececec; }

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0; }

.header__left {
  display: flex;
  align-items: center; }

.search_header {
  margin-left: 37px; }

.header__right {
  display: flex;
  align-items: center; }

.button_header {
  margin-left: 26px; }

.product_breadcrumbs {
  margin-top: 3px;
  margin-bottom: 60px; }

/*# sourceMappingURL=product__style.css.map */
