@import "vars"
@import "logo"
@import "search"
@import "cart"
@import "button"
@import "nav"
@import "breadcrumbs"
@import "feature-box"
@import "review&subscribe"
@import "grid"
@import "footer"

*
  margin: 0
  padding: 0
  font-family: 'Lato', sans-serif
  outline: none
  border: none


.container
  margin: 0 auto
  width: $site-width

/*header*/

.header
  border-bottom: 0.063rem solid #ececec

.header_container
  display: flex
  justify-content: space-between
  padding: 25px 0

.header__left
  display: flex
  align-items: center

.search_header
  margin-left: 37px

.header__right
  display: flex
  align-items: center

.button_header
  margin-left: 26px

.cart__link
  display: flex
  width: 150%
  height: 150%


/*shopping cart*/

.shopping-cart__product
  display: flex
  justify-content: space-between
  width: 100%
  padding: 25px 0
  border-bottom: $site-border
  color: #656565
  font-size: 0.813rem
  font-weight: 400
  &_heading
    color: #222222
    font-size: 0.813rem
    font-weight: 700
    text-transform: uppercase
    padding-bottom: 20px

.shopping-cart__product-block
  display: flex
  justify-content: center
  align-items: center
  width: 10%
  text-align: center
  &_wide
    width: 40%
  &:first-child
    justify-content: left
    text-align: left
    align-items: flex-start
  &:last-child
    width: 5%

.shopping-cart__product-text
  padding: 13px 20px
  &-name
    text-transform: uppercase
    color: #222222
    font-size: 0.813rem
    font-weight: 400
    margin-bottom: 38px
  &-info
    color: #575757
    font-weight: 400
    line-height: 1.25rem
    &-value
      font-weight: 300


.shopping-cart__product-quantity
  height: 30px
  max-width: 54px
  box-sizing: border-box
  border: $site-border
  padding-left: 20px
  color: #656565
  font-size: 0.813rem

.shopping-cart__product-delivery-cost
  text-transform: uppercase


.shopping-cart__product-del-btn
  color: #c0c0c0
  font-size: 1rem
  font-weight: 400
  text-decoration: none

.shopping-cart__btn-container
  margin-top: 44px
  display: flex
  justify-content: space-between

.shopping-cart__btn
  color: #4a4a4a
  font-size: 0.875rem
  font-weight: 700
  text-transform: uppercase
  padding: 0 40px
  height: 50px
  border: $site-border
  transition: 0.3s
  &:hover
    color: $brand-color
    border: 1px solid $brand-color

.form
  display: flex
  justify-content: space-between
  margin-top: 63px
  margin-bottom: 73px

.form__box
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 27%
  &:last-child
    padding: 40px
    background-color: #f5f3f3
    height: fit-content




.form__box-heading
  color: #222222
  font-size: 1rem
  font-weight: 700
  text-transform: uppercase

.form__box-span
  color: #000000
  font-size: 0.875rem
  font-weight: 300
  margin-top: 28px


.form__box-input
  padding: 0  20px
  border: $site-border
  background-color: #ffffff
  height: 45px
  color: #b1b1b1
  font-size: 0.813rem
  font-weight: 300
  margin-top: 20px

.form__box-btn
  margin-top: 20px
  padding: 0 15px
  color: #4a4a4a
  font-size: 0.688rem
  font-weight: 700
  text-transform: uppercase
  border: $site-border
  height: 35px
  align-self: flex-start
  &:hover
    border: 1px solid $brand-color
    color: $brand-color
    transition: 0.3s

.form-box__sum
  border-bottom: $site-border
  padding-bottom: 22px
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-bottom: 17px

.form__sub-total
  color: #4a4a4a
  font-size: 0.688rem
  font-weight: 400
  text-transform: uppercase
  margin-bottom: 14px
  &-sum
    margin-left: 10px

.form__grand-total
  color: #222222
  font-size: 1rem
  font-weight: 700
  text-transform: uppercase
  &-sum
    color: $brand-color
    margin-left: 10px

.form__checkout-btn
  height: 50px
  background-color: $brand-color
  border: 1px solid transparent
  color: #ffffff
  font-size: 1rem
  font-weight: 700
  text-transform: uppercase
  &:hover
    border: 1px solid $brand-color
    background-color: #ffffff
    color: $brand-color
    transition: 0.3s
















